/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
  background-color: #f1e8ed;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(243, 204, 227, 1),
      rgba(210, 3, 124, 0.8)
    ),
    url(../img/hero_banner_live.jpg);
  background-size: cover;
  position: top;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  position: relative;
}

.logo-box {
  max-width: 2rem;
  position: absolute;
  top: 25px;
  left: 25px;
}

.logo {
  height: 100px;
}

/* .logo:hover {
  animation: moveInRight;
} */

/*Absolute in relation to the parent element header
which is relative to the body.  
The transform element is in relation to itself.
*/
.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(243, 204, 227, 0.4);
  padding: 30px;
  text-align: center;
}

/*
Sometimes animations have weird sheky effect .
This is the fix. 
*/

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 15px;
  animation: moveInRight 1s ease-out;
}

/*
animation-delay: 3s;
animation-iteration-count:3;
*/

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
