/*
Although the name of this architecture is 7 to 1 we 
we are only only using five since architecture
and vendors are not used in this project.
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #10161f; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #fff;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2); }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2); }
  .heading-primary--sub1 {
    background-color: rgba(80, 11, 57, 0.35);
    display: block;
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    animation: moveInRight 1s ease-out;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2); }
  .heading-primary--sub2 {
    display: block;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 1.5rem;
    padding-top: 1remm;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #fff, #cd5a9d);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn {
  /* Animation 0.5secons, moveInButton keyframe east-out and 0.75s delay*/ }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 3rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-weight: 700;
    font-size: 1.4rem;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    border: solid rgba(148, 11, 92, 0.35) 0.1rem;
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--animated {
    animation: moveInBottom .5s ease-out 0.75s;
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #620740;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4 rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 0.7rem solid #cd5a9d;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(18, 36, 66, 0.8);
  border: solid 1px #1b4988;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.35);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 6rem;
    background-image: linear-gradient(to right, #fff, #1b4988);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.form__group:not(:last-child) {
  margin-bottom: 0.5rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-bottom: 4px solid transparent;
  width: 100%;
  display: block;
  transition: all .3s; }
  .form__input:focus, .form__input:active {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid #cd5a9d;
    color: #291c38; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #620740; }
  .form__input::-webkit-input-placeholder {
    color: #b6b8cc; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #620740;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    height: 1rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #cd5a9d;
    opacity: 0; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3);
  background-color: #f1e8ed;
  border-radius: 3px;
  padding: 5rem;
  padding-left: 9rem;
  color: #291c38;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden; }
  .story__img {
    height: 100%;
    transform: scale(1);
    backface-visibility: hidden;
    transition: all 0.5s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -40%); }
  .story:hover .story__img {
    filter: blur(5px) brightness(80%); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  color: orangered; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #122442, #940b5b); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #122442, #940b5b); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #122442, #940b5b); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #122442, #940b5b), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #122442, #940b5b), url(../img/nat-5.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #122442, #940b5b), url(../img/nat-5.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(27, 73, 136, 0.85), rgba(18, 36, 66, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(27, 73, 136, 0.85), rgba(18, 36, 66, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(27, 73, 136, 0.85), rgba(18, 36, 66, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #cd5a9d;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden; }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
  .popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #b6b8cc;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #b6b8cc;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#500b39, #cd5a9d);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.65, 0, 0.35, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all .4s;
  border-radius: 10%; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #500b39; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.35rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #b6b8cc;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0; }

.footer {
  padding: 5rem 0;
  font-size: 1.4rem;
  color: #b6b8cc; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 7rem;
    margin-top: 3rem; }
  .footer__logo {
    width: 23rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #b6b8cc;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #b6b8cc;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #fff;
    background-color: #291c38;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.2); }
  .footer__copyright {
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(3, 7, 13, 0.5), rgba(80, 11, 57, 0.45)), url(../img/pexels-james-wheeler-1519088.jpg);
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%, 100% 88vh, 0% 100%);
  position: relative;
  border-left: solid 0.2rem #d02c83;
  border-right: solid 0.2rem #d02c83;
  border-top: solid 0.2rem #d02c83; }
  .header__logo-box {
    position: absolute;
    top: 6rem;
    left: 6rem; }
  .header__logo {
    height: 12.5rem; }

/*Absolute in relation to the parent element header
  which is relative to the body.  
  The transform element is in relation to itself.
  */
.header__text-box {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(3, 7, 13, 0.1);
  padding: 3rem;
  text-align: center; }
  .header__text-box-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 3rem; }

.section-about {
  background-image: linear-gradient(to right, #940b5b, #10161f);
  padding: 25rem 0;
  margin-top: -12vh;
  border-bottom: solid 0.2rem #d02c83;
  border-left: solid 0.2rem #d02c83;
  border-right: solid 0.2rem #d02c83; }

.section-features {
  margin-top: -8rem;
  border-left: solid 0.2rem #d02c83;
  border-right: solid 0.2rem #d02c83;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(41, 28, 56, 0.95), rgba(27, 73, 136, 0.95)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-2deg); }
  .section-features > * {
    transform: skewY(2deg); }

.section-tours {
  padding: 25 0 50rem 0; }

.section-stories {
  padding: 15rem 0;
  background-image: linear-gradient(to right, #940b5b, #10161f);
  border-left: solid 0.2rem #d02c83;
  border-right: solid 0.2rem #d02c83;
  margin-top: -4rem; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(41, 28, 56, 0.95), rgba(18, 36, 66, 0.95));
  border-left: solid 0.2rem #d02c83;
  border-right: solid 0.2rem #d02c83;
  border-bottom: solid 0.2rem #d02c83; }

.book {
  background-image: linear-gradient(105deg, #10161f 0%, #940b5b 100%), url(/img/nat-10.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.35);
  height: 60rem; }
  .book__form {
    width: 100%;
    padding: 6rem; }
  .book__logo {
    position: relative;
    top: 21rem;
    right: 4rem;
    width: 30rem;
    height: auto; }

/*
animation-delay: 3s;
animation-iteration-count:3;
*/
