/*
Although the name of this architecture is 7 to 1 we 
we are only only using five since architecture
and vendors are not used in this project.
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #10161f; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translatey(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #fff;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2); }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2); }
  .heading-primary--sub1 {
    background-color: rgba(80, 11, 57, 0.35);
    display: block;
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    animation: moveInRight 1s ease-out;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2); }
  .heading-primary--sub2 {
    display: block;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 1.5rem;
    padding-top: 1remm;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #fff, #cd5a9d);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn {
  /* Animation 0.5secons, moveInButton keyframe east-out and 0.75s delay*/ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 3rem;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    font-weight: 700;
    font-size: 1.4rem; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    border: solid rgba(148, 11, 92, 0.35) 0.1rem;
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2 rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn--animated {
    animation: moveInButton 0.55s ease-out 0.75s;
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #620740;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.15);
  transform: translateX(-2px);
  padding: 5px; }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.15);
  transform: translateX(0); }

.section-about {
  background-image: linear-gradient(to right, #940b5b, #10161f);
  padding: 25rem 0;
  margin-top: -12vh;
  border-bottom: solid 0.2rem #d02c83;
  border-left: solid 0.2rem #d02c83;
  border-right: solid 0.2rem #d02c83; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(3, 7, 13, 0.5), rgba(80, 11, 57, 0.45)), url(../img/pexels-james-wheeler-1519088.jpg);
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%, 100% 88vh, 0% 100%);
  position: relative;
  border-left: solid 0.2rem #d02c83;
  border-right: solid 0.2rem #d02c83;
  border-top: solid 0.2rem #d02c83; }
  .header__logo-box {
    position: absolute;
    top: 6rem;
    left: 6rem; }
  .header__logo {
    height: 12.5rem; }

/*Absolute in relation to the parent element header
  which is relative to the body.  
  The transform element is in relation to itself.
  */
.header__text-box {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(3, 7, 13, 0.1);
  padding: 3rem;
  text-align: center; }
  .header__text-box-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 3rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

/*
animation-delay: 3s;
animation-iteration-count:3;
*/
