// COLORS

$color-primary-light: #03070d;
$color-primary-dark: #500b39;

$color-black-gloss: #10161f;

$color-violet: #940b5b;

$color-dark-violet: #620740;

$color-dark-grey: #291c38;

$color-dark-grey-2: #999;

$color-border: #d02c83;

$color-pink: #f3cce3;
$color-dark-pink-2: #cd5a9d;

$color-grey-light-1: #f7f7f7;
$color-grey: #b6b8cc;

$color-grey-dark: #777;
$color-white: #fff;
$color-white-2: #f1e8ed;
$color-black: #000;

// Features Section

$color-dark-blue: #122442;

$color-blue: #1b4988;

// Font Sizes

$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical-small: 6rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// Story Section

$color-brown: #8c6a46;
