.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.5),
      rgba($color-primary-dark, 0.45)
    ),
    url(../img/pexels-james-wheeler-1519088.jpg);
  background-size: cover;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 88vh, 0% 100%);
  border-left: solid 0.2rem $color-border;
  border-right: solid 0.2rem $color-border;
  border-top: solid 0.2rem $color-border;

  &__logo-box {
    // max-width: 2rem;
    position: absolute;
    top: 6rem;
    left: 6rem;

    @include respond(phone) {
      // top: 50%;
      // right: 50%;
      // transform: translate(-50%, -50%);
      position: static;
      text-align: center;
      margin-top: 10rem;
    }
  }

  &__logo {
    height: 12.5rem;
  }
}

/*Absolute in relation to the parent element header
  which is relative to the body.  
  The transform element is in relation to itself.
  */
.header__text-box {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(3, 7, 13, 0.1);
  padding: 3rem;
  text-align: center;

  &-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 3rem;
  }
}
