.header {
  height: 85vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.5),
      rgba($color-primary-dark, 0.45)
    ),
    url(../img/pexels-james-wheeler-1519088.jpg);
  background-size: cover;
  position: relative;
  border-left: solid 0.2rem $color-border;
  border-right: solid 0.2rem $color-border;
  border-top: solid 0.2rem $color-border;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 88vh, 0% 100%);
    height: 95vh;
  }

  &__logo-box {
    // max-width: 2rem;
    position: absolute;
    top: 6rem;
    left: 6rem;

    @include respond(phone) {
      // top: 50%;
      // right: 50%;
      // transform: translate(-50%, -50%);
      position: static;
      text-align: center;
      margin-top: 10rem;
    }
  }

  &__logo {
    height: 12.5rem;

    @include respond(tab-port) {
      height: 11rem;
    }

    @include respond(phone) {
      height: 10rem;
    }
  }
}

/*Absolute in relation to the parent element header
  which is relative to the body.  
  The transform element is in relation to itself.
  */
.header__text-box {
  backdrop-filter: blur(1.5px);
  border-radius: 10%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  // background: rgba(3, 7, 13, 0.1);
  // padding: 3rem;
  padding: 3rem 2rem 0 2rem;
  text-align: center;

  &-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 3rem;
  }
}

.header__button-box {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
}
