.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 3rem;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    font-weight: 700;
    font-size: 1.4rem;
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    border: solid rgba(148, 11, 92, 0.35) 0.1rem;
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2 rem rgba($color-black, 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  /* Animation 0.5secons, moveInButton keyframe east-out and 0.75s delay*/
  &--animated {
    animation: moveInButton 0.55s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text{
  &:link, &:visited{
    font-size: $default-font-size;
    color:$color-white;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-white;
    padding:3px;
    transition: all .2s;
  }


  &:hover{
    background-color: $color-dark-violet;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-white, 0.15);
    transform: translateY(-2px);
    padding: 5px;
  }

  &:active{
    box-shadow: 0 0.5rem 1rem rgba($color-white, .15);
    transform: translateY(0);
  }

}




