.feature-box{
    background-color: rgba($color-dark-blue,0.8);
    border: solid 1px $color-blue;
    font-size: 1.5rem;
    padding:2.5rem;
    text-align:center;
    border-radius:3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.35);
    transition: transform .3s;

    &__icon{
        font-size: 6rem;
        background-image:linear-gradient(to right,$color-white, $color-blue);
        -webkit-background-clip: text;
        color:transparent; 

    }

    &:hover{
        transform: translateY(-1.5rem) scale(1.03);
    }


}