// HEADER

#home .icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: rgba(27, 73, 136, 0.5);
  margin-right: 3.1rem;
  @include respond(tab-port) {
    margin-right: 0;
  }
  border-radius: 5px;
}

/* Style the icon bar links */
#home .icon-bar a {
  display: block;
  text-align: center;
  padding: 1.6rem 1.6rem 1.6rem 1.6rem;
  transition: all 0.3s ease;
  color: white;
  font-size: 3rem;

  // @include respond(phone) {
  //   font-size: 2.5rem;
  //   margin-right: 2rem;
  // }
}

/* Style the social media icons with color, if you want */
#home .icon-bar a:hover {
  padding: 0.5rem;
  background-color: rgba(33, 33, 33, 0.5);
}

#home .facebook {
  color: white;
}

#home .instagram {
  color: white;
}

#home .linkedin {
  color: white;
}

// FOOTER

.footer .icon-bar {
  display: flex;
  justify-content: space-evenly;
}

/* Style the icon bar links */
.footer .icon-bar a {
  color: white;
  font-size: 2rem;
}

/* Style the social media icons with color, if you want */
.footer .icon-bar a:hover {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #000;
}

.footer .facebook {
  color: white;
}

.footer .instagram {
  color: white;
}

.footer .linkedin {
  color: white;
}
