/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 1.6rem;
  transition: all 0.3s ease;
  color: white;
  font-size: 3rem;
  margin-left: 1rem;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  color: white;
}

// .instagram {
//   background: #55acee;
//   color: white;
// }

// .linkedin {
//   background: #007bb5;
//   color: white;
// }
