.icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 1.6rem 1.6rem 1.6rem 1.6rem;
  transition: all 0.3s ease;
  color: white;
  font-size: 3rem;
  margin-right: 6rem;

  @include respond(tab-port) {
    margin-right: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
    margin-right: 2rem;
  }
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  padding: 0.5rem;
  background-color: #000;
}

.facebook {
  color: white;
}

.instagram {
  color: white;
}

.linkedin {
  color: white;
}
