*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // One rem = 10px ie: 10px/16px = 62.5%

  // @include respond(phone){
  //   font-size: 50%;
  // }
  // no need for this one since they have the same setting

  @include respond(tab-land){ // width < 1200px
    font-size: 56.25%; // 1 rem = 9px, 9/16  = 56.25%
  }

  @include respond(tab-port){ // width < 900px
    font-size: 50%; // 1 rem = 8px; 8/16 = 50%
  }

  @include respond(big-desktop){
    font-size: 75%; // 1rem = 12, 12/16 = 75%
  }

}

body {
  box-sizing: border-box;
  background-color: $color-black-gloss;
  padding: 3rem;

  @include respond(tab-port){
    padding: 0;
  }
}
