.section-about {
  background-image: linear-gradient(
    to right,
    $color-violet,
    $color-black-gloss
  );
  padding: 25rem 0;

  margin-top: -12vh;
  border-bottom: solid 0.2rem $color-border;
  border-left: solid 0.2rem $color-border;
  border-right: solid 0.2rem $color-border;
  // clip-path: polygon(0% 0%, 100% 0%, 100% 88vh, 0% 100%);    z-index: 200;

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-features {
  margin-top: -8rem;
  border-left: solid 0.2rem $color-border;
  border-right: solid 0.2rem $color-border;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-dark-grey, 0.95),
      rgba($color-blue, 0.95)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;

  transform: skewY(-2deg);

  & > * {
    transform: skewY(2deg);
  }

  @include respond(tab-port) {
    padding: 15rem 0;
  }
}

// Section Tours

.section-tours {
  // background-image: linear-gradient(to right bottom, rgba($color-dark-grey, 0.95), rgba($color-dark-blue, 0.95));

  padding: 25 0 50rem 0;
  //    margin-top:-10rem;

  //   @include respond(tab-port) {
  //     padding: 20rem 0 50rem 0;
  //   }
}

// Section Stories

.section-stories {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right,
    $color-violet,
    $color-black-gloss
  );
  border-left: solid 0.2rem $color-border;
  border-right: solid 0.2rem $color-border;
  margin-top: -4rem;
  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-dark-grey, 0.95),
    rgba($color-dark-blue, 0.95)
  );
  border-left: solid 0.2rem $color-border;
  border-right: solid 0.2rem $color-border;
  border-bottom: solid 0.2rem $color-border;
  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-black-gloss, 1) 0%,
      rgba($color-violet, 1) 100%
    ),
    url(/img/nat-10.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 1.5rem 1rem rgba($color-black, 0.35);
  height: 60rem;

  &__form {
    width: 100%;
    padding: 6rem;
  }

  &__logo {
    position: relative;
    top: 21rem;
    right: 4rem;
    width: 30rem;
    height: auto;

    @include respond(tab-port) {
      display: none;
    }
  }
}
